/* basic styles */
.skeleton {
  background: #ddd;
  margin: 10px;
  border-radius: 8px;
}
.skeleton-card {
  width: 300px;
  height: 480px;
}
.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 4px;
  position: relative;
}
