/* basic styles */
.skeleton {
  background: #e6e6e6;
  border-radius: 8px;
}
.skeleton-card {
  width: 380px;
  height: 520px;
}
.skeleton-wrapper {
  width: 100%;
  margin: 20px auto;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
