.dashboard-page {
  display: flex;
  padding: 0 1rem;

  .nav-container {
    width: 220px;
    height: 200vh;
    left: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
  }
}
