.car-card-container {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;

  .car-card {
    background: white;
    width: 351px;
    height: 482px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
}
