.car-list-title {
  margin-top: 60px;
  margin-left: 100px;

  .car-list-title-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
