.signin {
  display: flex;
  height: 100vh;

  .left {
    max-width: 1433px;
    height: 100%;
    background-color: $primary;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    min-width: 500px;

    .signin-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 370px;
      gap: 1rem;

      .logo {
        align-self: flex-start;
      }

      h2 {
        align-self: flex-start;
      }
    }
  }
}
