.breadcrumb {
  width: 200px;
  margin-left: 200px;

  .breadcrumb-container {
    display: flex;
    gap: 10px;

    p {
      font-weight: 600;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
