.data-title {
  width: 350px;
  margin-top: 80px;
  margin-left: 20px;

  .data-title-container {
    display: flex;
    gap: 10px;

    figure {
      width: 5px;
      height: 24px;
      background-color: $primary;
    }
  }
}
